# Visual Studio 用户文件和缓存
.vs/
*.suo
*.user
*.sln.docstates

# 编译输出目录
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# 其他可能生成的临时文件
*.dbmdl
*.jfm
*.pdb
*.ilk
*.exp
*.iobj
*.ipdb
*.log
*.tlog
*.lastbuildstate